menu "AT HTTP SERVER"

choice ESP_INIT_WIFI_MODE
    prompt "Initial WiFi mode"
    default ESP_WIFI_IS_SOFTAP
    help
        Whether the init esp32 is softAP or station.

config ESP_WIFI_IS_SOFTAP
    bool "SoftAP"
config ESP_WIFI_IS_STATION
    bool "Station"
endchoice

config ESP_WIFI_MODE_AP
    bool
    default y if ESP_WIFI_IS_SOFTAP
    default n if ESP_WIFI_IS_STATION

config ESP_WIFI_SSID
    string "WiFi SSID"
    default "AT_HTTP_WEBSERVER"
    help
	SSID (network name) for the example to connect to.

config ESP_WIFI_PASSWORD
    string "WiFi Password"
    default "12345678"
    help
	WiFi password (WPA or WPA2) for the example to use.

choice OPERATE_FILE_SYSTEM
    prompt "read file system"
    default FILE_FUNCTION
    help
        How to read file system

config FILE_FUNCTION
    bool "read file function"
config AT_COMMAND
    bool "File system AT command"
endchoice

config READ_WRITE_FILE_SYSTEM
    bool
    default y if FILE_FUNCTION
    default n if AT_COMMAND

config AT_ENABLE
    bool "Enable AT"
    default "y"

config AT_BASE_COMMAND_SUPPORT
    bool "AT base command support."
    default "y"
    depends on AT_ENABLE

config AT_WIFI_COMMAND_SUPPORT
    bool "AT wifi command support."
    default "y"
    depends on AT_ENABLE

config AT_NET_COMMAND_SUPPORT
    bool "AT net command support."
    default "y"
    depends on AT_WIFI_COMMAND_SUPPORT
    
config AT_BLE_COMMAND_SUPPORT
    bool "AT ble command support."
    default "y"
    depends on AT_ENABLE

config AT_BLE_HID_COMMAND_SUPPORT
    bool "AT ble hid command support."
    default "y"
    depends on AT_ENABLE

config AT_FS_COMMAND_SUPPORT
    bool "AT FS command support."
    default "y"
    depends on AT_ENABLE
    select WL_SECTOR_SIZE_512
    select FATFS_LFN_HEAP

endmenu
