
config AT_BASE_ON_HSPI
    bool "AT through HSPI"
    help
        This demo is AT through HSPI. The MCU can send AT command through SPI bus. 
        But besides the standard SPI pins, the more one pin is required to handshake MCU. 
        In order to respond in time, MCU should use the interrupt pin as the handshake pin.

if AT_BASE_ON_HSPI
menu "AT hspi settings"
config AT_HSPI_HANDSHAKE_PIN
 	int "HSPI handshake pin for AT command"
	default 4
	depends on AT_BASE_ON_HSPI
	
endmenu
endif