# This is a list of python packages needed for ESP-AT. This file is used with pip.
# Please see the Compile and Develop section of the ESP-AT User Guide for further information.
#
setuptools>=21
# The setuptools package is required to install source distributions and on some systems is not installed by default.
# Please keep it as the first item of this list. Version 21 is required to handle PEP 508 environment markers.
#

cryptography>=2.1.4,<35
pycryptodome==3.15.0
idf-component-manager>=1.5.2

# ESP-AT requirements
pyyaml
xlrd
configparser
