# This is a list of python packages needed for ESP-AT. This file is used with pip.
# Please see the Compile and Develop section of the ESP-AT User Guide for further information.

# IDF Component Manager
idf-component-manager~=2.3.0

# examples/at_interface_security
pycryptodome==3.19.1

# ESP-AT requirements
pyyaml
xlrd
configparser
