menu "AT"

config AT_ENABLE
    bool "Enable AT"
    default "y"


choice AT_COMMUNICATION_METHOD
    prompt "communicate method for AT command"
    default AT_BASE_ON_UART

source "$PROJECT_PATH/main/interface/uart/Kconfig"
source "$PROJECT_PATH/main/interface/hspi/Kconfig"
endchoice

config AT_COMMAND_TERMINATOR_SUPPORT
    bool "AT command terminator support."
    default "n"
    depends on AT_ENABLE

config AT_COMMAND_TERMINATOR
    hex "AT command terminator. "
    help 
        Now just support one character, the range is from 0x01 to 0xFF.
    range 0x01 0xFF
    default 0x0A
    depends on AT_COMMAND_TERMINATOR_SUPPORT

config AT_BASE_COMMAND_SUPPORT
    bool "AT base command support."
    default "y"
    depends on AT_ENABLE

config AT_WIFI_COMMAND_SUPPORT
    bool "AT wifi command support."
    default "y"
    depends on AT_ENABLE

config AT_NET_COMMAND_SUPPORT
    bool "AT net command support."
    default "y"
    depends on AT_WIFI_COMMAND_SUPPORT
    
config AT_BLE_COMMAND_SUPPORT
    bool "AT ble command support."
    default "y"
    depends on AT_ENABLE
    
config AT_FS_COMMAND_SUPPORT
    bool "AT FS command support."
    default "n"
    depends on AT_ENABLE
    
config AT_OTA_SERVER_IP
    string "Server IP for AT OTA."
    default "iot.espressif.cn"
    depends on AT_ENABLE

config AT_OTA_SERVER_PORT
    int "Server port for AT OTA."
    default 80
    depends on AT_ENABLE

config AT_OTA_TOKEN_KEY
    string "The token for AT OTA."
    default "dd93253c287f725de50d4071a05dd28b72056ca7"
    depends on AT_ENABLE

config AT_OTA_SSL_SUPPORT
    bool "OTA based upon ssl"
    default "y"
    depends on AT_ENABLE

config AT_OTA_SSL_SERVER_IP
    string "SSL server IP for AT OTA."
    default "iot.espressif.cn"
    depends on AT_OTA_SSL_SUPPORT

config AT_OTA_SSL_SERVER_PORT
    int "SSL server port for AT ssl OTA."
    default 443
    depends on AT_OTA_SSL_SUPPORT

config AT_OTA_SSL_TOKEN_KEY
    string "The SSL token for AT OTA."
    default "dd93253c287f725de50d4071a05dd28b72056ca7"
    depends on AT_OTA_SSL_SUPPORT

config ESP_AT_FW_VERSION
    string "AT firmware version."
    depends on AT_ENABLE
    help
      The maximum length of the string is 128 characters.
      If more than 128 characters, it will be invalid.

endmenu
