
config AT_BASE_ON_SDIO
    bool "AT through SDIO"
	depends on IDF_TARGET_ESP32 || IDF_TARGET_ESP32C6
    help
        This demo is AT through SDIO. The MCU can send AT command through SDIO bus.

if AT_BASE_ON_SDIO
menu "AT SDIO settings"
config AT_SDIO_BLOCK_SIZE
 	int "SDIO block size"
	default 512
	depends on AT_BASE_ON_SDIO

config AT_SDIO_QUEUE_SIZE
 	int "SDIO queue size"
	default 20
	depends on AT_BASE_ON_SDIO

config AT_SDIO_BUFFER_NUM
 	int "SDIO buffer number"
	default 10
	depends on AT_BASE_ON_SDIO

endmenu
endif
