config AT_BASE_ON_SPI
    bool "AT through SPI"
    depends on (IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C6)
    help
        If enable this option, the MCU can send AT command through SPI bus.
        But besides the standard SPI pins, the more one pin is required to handshake MCU.
        In order to respond in time, MCU should use the interrupt pin as the handshake pin.

choice SPI_TRANSMIT
    prompt "AT SPI Data Transmission Mode"
    depends on AT_BASE_ON_SPI
    default SPI_STANDARD_MODE

config SPI_STANDARD_MODE
    bool "Standard SPI"
    help
        Enable the one-line data transmission. The MCU can send data through MOSI line and receive data through MISO line.

config SPI_DUAL_MODE
    bool "Dual SPI"
    help
        Enable the two-line data transmission. The MCU can transmit data through MOSI and MISO line.

config SPI_QUAD_MODE
    bool "Quad SPI"
    help
        Enable the four-line data transmission. In this mode, two more I/O lines for sending 4 data bits per clock cycle are needed.
endchoice

menu "AT SPI GPIO settings"
    depends on AT_BASE_ON_SPI
    config SPI_SCLK_PIN
        int "SPI sclk pin"
        default 6 if IDF_TARGET_ESP32C3
        default 6 if IDF_TARGET_ESP32C2
        default 19 if IDF_TARGET_ESP32C6

    config SPI_MOSI_PIN
        int "SPI mosi pin"
        default 7 if IDF_TARGET_ESP32C3
        default 7 if IDF_TARGET_ESP32C2
        default 18 if IDF_TARGET_ESP32C6

    config SPI_MISO_PIN
        int "SPI miso pin"
        default 2 if IDF_TARGET_ESP32C3
        default 2 if IDF_TARGET_ESP32C2
        default 20 if IDF_TARGET_ESP32C6

    config SPI_CS_PIN
        int "SPI cs pin"
        default 10 if IDF_TARGET_ESP32C3
        default 10 if IDF_TARGET_ESP32C2
        default 23 if IDF_TARGET_ESP32C6

    config SPI_HANDSHAKE_PIN
        int "SPI handshake pin for slave send"
        default 3 if IDF_TARGET_ESP32C3
        default 3 if IDF_TARGET_ESP32C2
        default 21 if IDF_TARGET_ESP32C6

    config SPI_WP_PIN
        int "SPI WP pin(quad spi)"
        default 8 if IDF_TARGET_ESP32C3
        default 8 if IDF_TARGET_ESP32C2
        default 22 if IDF_TARGET_ESP32C6
        depends on SPI_QUAD_MODE

    config SPI_HD_PIN
        int "SPI HD pin(quad spi)"
        default 9 if IDF_TARGET_ESP32C3
        default 9 if IDF_TARGET_ESP32C2
        default 2 if IDF_TARGET_ESP32C6
        depends on SPI_QUAD_MODE
endmenu

menu "AT SPI driver settings"
    depends on AT_BASE_ON_SPI
    config SPI_NUM
        int "SPI number"
        default 1
        range 1 2

    config SPI_MODE
        int "SPI mode"
        default 0
        range 0 3

    config TX_STREAM_BUFFER_SIZE
        int "TX stream buffer size"
        default 4096
        range 1024 8192

    config RX_STREAM_BUFFER_SIZE
        int "RX stream buffer size"
        default 4096
        range 1024 8192
endmenu
