menu "SPI master Configuration"

choice SPI_TRANSMIT
    prompt "communicate way for SPI transmit"
    default SPI_SINGLE_MODE

config SPI_SINGLE_MODE
    bool "Standard SPI"
    help
        The MCU can transmit data through MOSI or MISO line.
config SPI_DUAL_MODE
    bool "Dual SPI"
    help
        The MCU can transmit data through MOSI and MISO line.
config SPI_QUAD_MODE
    bool "Quad SPI"
    help
        Quad SPI goes beyond dual SPI, adding two more I/O lines and sends 4 data bits per clock cycle.
endchoice

menu "spi gpio settings"
    config SPI_SCLK_PIN
        int "SPI sclk pin"
        default 15 if IDF_TARGET_ESP32
        default 6 if IDF_TARGET_ESP32C3
    config SPI_MOSI_PIN
        int "SPI mosi pin"
        default 13 if IDF_TARGET_ESP32
        default 7 if IDF_TARGET_ESP32C3
    config SPI_MISO_PIN
        int "SPI miso pin"
        default 12 if IDF_TARGET_ESP32
        default 2 if IDF_TARGET_ESP32C3
    config SPI_CS_PIN
        int "SPI cs pin"
        default 14 if IDF_TARGET_ESP32
        default 10 if IDF_TARGET_ESP32C3
    config SPI_HANDSHAKE_PIN
        int "SPI handshake pin for slave send"
        default 5 if IDF_TARGET_ESP32
        default 3 if IDF_TARGET_ESP32C3
    config SPI_WP_PIN
        int "SPI WP pin(quad spi)"
        default 16 if IDF_TARGET_ESP32
        default 8 if IDF_TARGET_ESP32C3
        depends on SPI_QUAD_MODE
    config SPI_HD_PIN
        int "SPI HD pin(quad spi)"
        default 17 if IDF_TARGET_ESP32
        default 9 if IDF_TARGET_ESP32C3
        depends on SPI_QUAD_MODE
endmenu

endmenu
