
config AT_BASE_ON_UART
    bool "AT through UART"

config AT_UART_PORT
    int "uart port number for AT command"
    default 1
    depends on AT_BASE_ON_UART

config AT_UART_PORT_RX_PIN
    int "uart rx pin for AT command"
    default 16
    depends on AT_BASE_ON_UART

config AT_UART_PORT_TX_PIN
    int "uart tx pin for AT command"
    default 17
    depends on AT_BASE_ON_UART

config AT_UART_PORT_RTS_PIN
    int "uart rts pin for AT command"
    default 14
    depends on AT_BASE_ON_UART

config AT_UART_PORT_CTS_PIN
    int "uart cts pin for AT command"
    default 15
    depends on AT_BASE_ON_UART

