menu "SDIO HOST Configuration"

choice TARGET_PLATFORM
    prompt "Select slave platform."
    default SLAVE_ESP32
    help
        Select which target is used.

config SLAVE_ESP32
    bool "Using ESP32"
endchoice

endmenu
